extends layout

block content
    div(class="planilla bgc-3")
        div.titulo
            h1= "Estos son los alumnos y materias"
        table
            thead
                tr
                    th Alumno
                    th Materia
                    th Dia
                    th Hora
            tbody
                each item in informe
                    tr
                        td= item.alumno
                        td= item.materia
                        td= item.dia
                        td= item.hora